/* Add your CSS code below */
a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}
.message__time {
  font-size: 0.9rem;
}
.message--unread {
  border-left-style: solid;
  border-left-color: blue;
}
.message__time--old {
  opacity: 0.2;
}
.message {
  line-height: 35pt;
}
