/* Add your own CSS code below */
.link {
  color: orangered;
  font-weight: 700;
  text-decoration: none;
}
link {
  <<<<<<<headcolor: #4491db;
  =======color: fuchsia;
  >>>>>>>purple_linksfont-weight: 700;
  text-decoration: none;
}
